.deatils_container {
	.navbar {
		.back_button {
			margin: 10px 20px;
			border-radius: 10px;
			padding: 10px 20px;
			color: white;
			text-transform: capitalize;
			outline: none;
			border: none;
			background-color: #2a27c9;
		}
	}
}
